*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}
:root{
  --v:#1266F1;
  --p: #fff;
  --my:#7bb6ed;
  --mu:#80cf61;
}
.c{
    width: 60%;
    margin: 3px auto;
}
.v{
    border: var(--v) solid 2px;
}
.chat img{
  display: block;
  width: 80%;
  margin: auto;
}
img.p{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.nav{
    height: 40px;
    background-color:var(--v) ;
    border: var(--p) solid 2px;
    border-left: none;
    border-right: none;
    line-height: 40px;
    color: var(--p);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
h4{
  line-height: 40px;
}
.side{
    height: 40px;
    width: 100%;
    background-color: var(--v);
    padding: 5px;
    color: var(--p);
    display: flex;
    justify-content: space-between;
    transition: all .3s;
}
.side.y{
    height: 0;
    padding: 0;
}
.side.y *{
    display: none;
}
.side div{
    display: flex;
    text-align: center;
    width: 50%;
    cursor: pointer;
}
.chat{
    width: 100%;
    transition: all .3s;
}

.chat form{
    width: 100%;
    padding: 6px;
    background-color: var(--v);
    text-align: center;
    color: var(--p);
}
form input{
  width: 40%;
}
form #input{
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 3px;
    padding: 3px;
}
#img{
  width: 50%;
}
form #send{
    width: 58%;
    border: none;
    outline: none;
    padding: 3px;
    color: var(--v);
    transition: all .5s;
}
form #send:hover{
    background-color: var(--v);
    color: var(--p);
}



.chat .chat-history {
  padding:  20px 10px 30px;
  border-bottom: 2px solid var(--p);
  overflow-y: scroll;
  height: 490px;
  width: 100%;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;

}
.chat .chat-history .message {
  color: var(--p);
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: var(--mu);
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: var(--mu);
}
.chat .chat-history .other-message {
  background: var(--my);
}
.chat .chat-history .other-message:after {
  border-bottom-color: var(--my);
  left: 93%;
}
.chat .chat-message {
  padding: 10px;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}


.me {
  color: var(--my);
}
.online{
    color:var(--mu);
}
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}
ul{
    padding: 10px;
    list-style: none;
}
ul.boy .align-right{
  text-align: left;
}
ul.boy .float-right{
  float: left
}
ul.boy  .g{
  text-align: right;
}
ul.boy  .my-message{
float: right;
}
.chat-history ul.boy .my-message::after{
  left: 92%;
}
.chat .chat-history ul.boy .other-message:after {
  left: 7%;
}
@media (max-width:450px){
  .c{
    width: 95%;
  }
}
@media (max-width:650px){
  .c{
    width: 80%;
  }
}